* {
    padding: 0;
    margin: 0;
}

/* Flexbox */

.flexbox-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}

.navbar {
    background-color: aqua;
    display: flex;

}

.navigation-items {
    background-color: black;
    width: 100px;
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    background-color: black;
    width: 100px;
    display: flex;
    flex-grow: 1;
}

.contact {
    background-color: black;
    width: 100px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    bottom: 850px;
}


/* Main */

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #EEEEEE;
    /* background-image: url("..img/gym-landscape.jpg"); */
}

.nav-items-ul {
    list-style: none;
    display: flex;
    margin: 0px 0px 0px 0px;
}

.nav-items-li {
    padding: 10px 50px 10px 10px;
}

.socials-ul {
    list-style: none;
    display: flex;
    margin: 0px 0px 0px 0px;
}

.socials-li {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 10px 50px 10px 10px;

}


/* Images */

.nav-img {
    width: 100px;
    margin: 10px 10px 10px 100px;
}

.contact-img {
    width: 80px;
    height: 80px;
    margin: 12px;
}

.hero-img {
    width: 100%;
    height: 100%;
    margin: 0px 0px -100px 0px;
}

.socials-img {
    width: 10%;
    height: auto;
}


/* Text */

h3 {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
}

h3:hover {
    color: #FF8D29;
}

.login-text {
    font-size: 20px;
}

.hero-text {
    position: relative;
    bottom: 830px;
    font-size: 80px;
}