*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/*----about----*/





/*---courses---*/



/*---contact---*/




/*----footer----*/




/*---social-icons---*/



@media only screen and (max-width: 770px){
    }















