* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.container1, .container2, .container3, .container4 {
    display: flex;
    width: 100%;
    height: 95vh;
    margin: 20px;
    z-index: 0;
}


.logo {
  width: 80%;
  height: 100px;
  margin: 10%;
  margin-bottom: 40%;
  background-color: orange;
  z-index: 2;
}


.left1 {
    width: 30%;
    height: auto;
    background-color: red;
    z-index: 2;
}

.right1 {
  width: 100%;
  height: auto;
  background-color: blue;
  z-index: 1;
}

.left-blank-space-for-socials {
  width: 10%;
  height: auto;
  background-color: yellow;
  z-index: 2;
}




.hero-img {
    width: 100%;
    height: auto;
}



.left2 {
    width: 60%;
    height: auto;
    background-color: green;
}

.right2 {
  width: 30%;
  height: auto;
  background-color: yellow;
}


.left3 {
    width: 30%;
    height: auto;
    background-color: pink;
}

.right3 {
  width: 60%;
  height: auto;
  background-color: orange;
}


.left4 {
    width: 60%;
    height: auto;
    background-color: brown;
}

.right4 {
  width: 30%;
  height: auto;
  background-color: grey;
}



/* floating socials menu  */

  .floating-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: yellowgreen;
    color: white;
    padding: 5px;
    width: 100px;
    height: 300px;
    z-index: 100;
    position: fixed;
    bottom: 30px;
    left: 40px;
    border-radius: 5px;
  }

.floating-menu a {
  padding: 10px;
}











/*----about----*/





/*---courses---*/



/*---contact---*/




/*----footer----*/




/*---social-icons---*/



@media only screen and (max-width: 770px){
    }















