* {
    margin: 0;
    padding: 0%;
}

body {
    background-image: url('../img/green-hill-zone.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 600px;
    width: 100%;
    height: auto;
}


.pixelart {
    image-rendering: pixelated;
}

/* Logo Splash */

.splashscreen {
    background: url(../img/title-2.png) no-repeat -218px -92px; 
    width: 255px;
	height: 144px;
    position: relative;
    bottom: 500px;
    left: 630px;
    z-index: 1;

    transform: scale(2.5);
}


.sonic-profile {
    background: url(../img/title-2.png) no-repeat -21px -8px;
    width: 91px;
	height: 80px;
    position: relative;
    bottom: 480px;
    left: 730px;
    z-index: 2;

    transform: scale(2.5);
    animation: profile1 1s steps(5) forwards;
    animation: profile2 1s backwards steps(2,jump-none) infinite;
    
    
}

@keyframes profile1 {
    from {
        background-position: 0px -8px;
    }

    to {
        background-position: -462px -11px;
    }
    
}

@keyframes profile2 {
    from {
        background-position: -13px -89px;
    }

    to {
        background-position: -105px -89px;
    }
}


/* @keyframes profile {
    0% {
        background-position: -13px -89px;
    }

    100% {
        background-position: -105px -89px;
    }
} */


/* Walk Cycle */

.sonic {
    position: relative;
    bottom: 20px;
    left: 50px;
    background: url(../img/run-cycle-sprite-sheet.png) no-repeat -6px -1px;
    width: 38px;
    height: 38px;
    animation: walk_cycle .5s steps(5) infinite, move_forward 12s linear infinite;
}

@keyframes walk_cycle {
    0% {
        background-position: -6px -1px;
    }

    100% {
        background-position: -210px -2px;
    }
}

@keyframes move_forward {
    0% {
        transform: scale(3) translateX(-100px);
    
    }

    100% {
        transform: scale(3) translateX(1400px);
        
    }
}


/* Idle Animation */

/* .sonic {
    position: relative;
    bottom: 260px;
    left: 50px;
    background: url(../img/walk-cycle-sprite-sheet.png) no-repeat -8px 0;
    width: 32px;
    height: 40px;
    transform-origin: top left;
    transform: scale(3);

    animation: idle_cycle 1s steps(10);
    animation-iteration-count: 5;
    animation-delay: 5s;
}

@keyframes idle_cycle {
    0% {
        background-position: -8px 0;
    }

    100% {
        background-position: -403px 0;
    }
} */
